header {
  display: flex;
  justify-content: space-evenly;
  margin-top: 36px;
  position: relative;
  width: 100%;
}

header img {
  width: 180px;
  height: 50px;
}

#navbar {
  display: flex;
  align-self: center;
  justify-self: center;
  gap: 2rem;
}

#navbar a {
  text-decoration: none;
  color: var(--text-color);
}

/* BUTTON STYLE */

#getmycoffee {
  display: flex;

  background-color: inherit;
  border: 1px solid var(--button);
  width: 180px;
  border-radius: 6px;
  color: white;
  place-items: center;
  place-content: center;
  text-transform: uppercase;
  padding: 11px 38px;
  font-size: 11px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}

#getmycoffee:hover {
  background-color: var(--button);
  color: white;
  transition: all 0.4s;
}
